NEXT_PUBLIC_SUPABASE_URL=https://pkfsdzqwfxqczirjddue.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBrZnNkenF3ZnhxY3ppcmpkZHVlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY0NjQ0NDMsImV4cCI6MjA5MjA0MDQ0M30.9nN8HZtXEYcWV1tn9KjHrpjR7z_z3fW7HtGUvn-pb9c
NEXT_PUBLIC_SITE_URL=https://synttarit.com
NEXT_PUBLIC_PLATFORM=synttarit
